html, body {
    margin: 0;
    padding: 0;
}

/*
    Header demonstration ->
*/
header {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0;
    width: 100%;
    background-image: linear-gradient(to right, #9bcd9b, #f0f);
}

header button {
    margin: 0 0 0 10px;
    padding: 10px;
    width: calc(25% - 10px);
    height: 50px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 2vmin;
    color: #fff;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: #9b9bff;
    transition: background-color .5s;
}

header button:focus, header button:hover {
    background-color: #cdcdff;
}

header button:hover {
    cursor: pointer;
}
/*
    Header demonstration <-
*/

/*
    Scrollbar demonstration ->
*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(#f0f 50%, #9bcd9b 50%);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#ff00ff69 50%, #9bcd9b69 50%);
}
/*
    Scrollbar demonstration <-
*/

.container {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    width: calc(100vw - 40px);
    height: calc(100vh - 90px);
}

/*
    Linear-gradient demonstration ->
*/
.linear-gradient {
    padding-top: 80px;
}

.text, .animated {
    margin: 0;
    width: 100%;
    height: calc(50vh - 45px);
    line-height: calc(50vh - 10px);
    text-align: center;
}

.text {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 5vmin;
    color: transparent;
    background-image: linear-gradient(to right, #ff0, #f0f);
    -webkit-background-clip: text;
    background-clip: text;
}

.animated {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 5vmin;
    color: #fff;
    background-image: linear-gradient(to right, #ff0, #f0f);
    background-size: 400%;
    background-position: left;
    animation-name: animated__linear-gradient__animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes animated__linear-gradient__animation {
    0% { background-position: left; }
    100% { background-position: right; }
}
/*
    Linear-gradient demonstration <-
*/
