html, body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*
    Linear-gradient text demonstration ->
*/
.linear-gradient__text {
    background-color: #050505;
}

.linear-gradient__text p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    font-style: italic;
    color: transparent;
    background-image: linear-gradient(to right, #ff0505, #ff05ff);
    background-clip: text;
    -webkit-background-clip: text;
}
/*
    Linear-gradient text demonstration <-
*/

/*
    Animated linear-gradient demonstration ->
*/
.animated__linear-gradient {
    background-color: #9b0537;
}

.animated__linear-gradient div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    background-image: linear-gradient(to right, #ffff05, #ff05ff);
    background-size: 400%;
    background-position: left;
    animation-name: animated__linear-gradient__animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.animated__linear-gradient div p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 20px;
    color: #fff;
}

@keyframes animated__linear-gradient__animation {
    0% { background-position: left; }
    100% { background-position: right; }
}
/*
    Animated linear-gradient demonstration <-
*/
